body {
  margin: 0;
  background: #191c1c;
  color: white;
  font-family: Arial, sans-serif;
}
.layout {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 200px;
  background: #232626;
  border-right: 3px solid #18bfc6;
  padding: 20px;
}
.sidebar h1 {
  color: #18bfc6;
  font-size: 22px;
  margin-bottom: 30px;
}
.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid #18bfc6;
  border-radius: 8px;
  background: transparent;
  transition: all 0.3s ease;
}
.sidebar nav a:hover {
  background: #18bfc6;
  color: #191c1c;
}
.sidebar .info {
  margin-top: 40px;
  padding: 15px;
  background: #1a1a1a;
  border: 2px solid #18bfc6;
  border-radius: 8px;
  color: #18bfc6;
  font-size: 16px;
  margin-bottom: 10px;
}


.main-content {
  flex: 1;
  padding: 30px;
}
.main-content {
  color: #18bfc6;
  font-size: 32px;
  margin-bottom: 30px;
}

.welcome-box {
  background: #1a1a1a;
  border: 3px solid #18bfc6;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.welcome-box {
  color: #18bfc6;
  font-size: 24px;
  margin-bottom: 15px;
}

.image-container {
  background: #1a1a1a;
  border: 3px solid #18bfc6;
  border-radius: 12px;
  padding: 80px 40px;
  text-align: center;
  margin-bottom: 30px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
.image-box {
  background: #1a1a1a;
  border: 3px solid #18bfc6;
  border-radius: 12px;
  padding: 60px 20px;
  text-align: center;
  height: 200px;
  width: 400px;
}
.image-box2 {
  background: #1a1a1a;
  border: 3px solid #18bfc6;
  border-radius: 12px;
  padding: 60px 20px;
  text-align: top center;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
}
.image-box3 {
  background: #1a1a1a;
  border: 3px solid #18bfc6;
  border-radius: 12px;
  padding: 60px 20px;
  text-align: center;
  height: 200px;
  width: 400px;
}

.info-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.info-card {
  background: #1a1a1a;
  border: 3px solid #18bfc6;
  border-radius: 12px;
  padding: 25px;
  color:white;
}
.info-card2 {
  color: #18bfc6;
  font-size: 20px;
  margin-bottom: 12px;
  color: white;
}
.info-card p {
  font-size: 14px;
  line-height: 1.6;
}


