.text-main {
    font-family: 'Arial', sans-serif;
    color: #333333;
    margin-top: 20px;
    margin-left: 20px;
    padding: 40px;
}   

.text-main p {
    line-height: 0;
}
.text-main h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.Ueberschrift1 {
    padding-left: 55px;
}

.Ueberschrift1 h1 {
    font-size: 28px;
    margin-bottom: 15px;
}
.Ueberschrift1 p {
    font-size: 18px;
    margin-bottom: 10px;
}

.Bild-grid {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Bild-grid img {
    max-width: 400px;
    height: auto;
}